$primary: #32c3ff;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-toggler {
  border: transparent;
}

.Home {
  background-image: url('https://i.imgur.com/QX4PSdJ.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
