$primary: #32c3ff;
$dark: black;
$jumbotron-bg: rgba(233, 236, 239, 0.8);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: laChape;
  // src: url('/fonts/learning_curve_bold_ot_tt.ttf');
  src: url('/fonts/BridgetScript.ttf');
}

// * {
//   border: 1px dashed red;
// }

//----PICTURES-----

// 'https://i.imgur.com/Y9aOGYG.png'
// 'https://i.imgur.com/HpelYCD.jpg'
// 'https://i.imgur.com/QX4PSdJ.png'
// 'https://i.imgur.com/J2t49kh.png'
// 'https://i.imgur.com/FrnENBN.jpg'
// 'https://i.imgur.com/yxCEVlT.png'
// Black and white fire
// 'https://i.imgur.com/OSMKT84.png'
//Los chicos
// 'https://i.imgur.com/kUpKDar.png'

.curvedFont {
  font-family: laChape;
  font-size: 35px;
}
.curvedFont--sm {
  font-family: laChape;
  font-size: 25px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-toggler {
  border: transparent;
}

.Background-img {
  background-image: url('https://i.imgur.com/QX4PSdJ.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.Background-img--cooks {
  background-image: url('https://i.imgur.com/PJWfJRz.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.Tables__img {
  background-image: url('https://i.imgur.com/qd79Nou.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.Dishes__img {
  background-image: url('https://i.imgur.com/cBkvasU.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.History__img {
  background-image: url('https://i.imgur.com/nKZ0OFH.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.Login {
  background-image: url('https://i.imgur.com/QX4PSdJ.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.Dish-details {
  background-image: url('https://i.imgur.com/FrnENBN.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
}

.input {
  background-color: rgba($color: #000000, $alpha: 0.4);
  border-radius: 20px;
}

.Table__darkRow {
  background-color: $dark;
  color: white;
}

.Table__grayRow {
  background-color: gray;
  color: darkred;
}
