$primary: #32c3ff;
$dark: black;
$jumbotron-bg: rgba(233, 236, 239, 0.8);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: laChape;
  // src: url('/fonts/learning_curve_bold_ot_tt.ttf');
  src: url('/fonts/BridgetScript.ttf');
}

// * {
//   border: 1px dashed red;
// }

//----PICTURES-----

// 'https://i.imgur.com/Y9aOGYG.png'
// 'https://i.imgur.com/HpelYCD.jpg'
// 'https://i.imgur.com/QX4PSdJ.png'
// 'https://i.imgur.com/J2t49kh.png'
// 'https://i.imgur.com/FrnENBN.jpg'
// 'https://i.imgur.com/yxCEVlT.png'
// Black and white fire
// 'https://i.imgur.com/OSMKT84.png'
//Los chicos
// 'https://i.imgur.com/kUpKDar.png'

.curvedFont {
  font-family: laChape;
  font-size: 35px;
}
.curvedFont--sm {
  font-family: laChape;
  font-size: 25px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-toggler {
  border: transparent;
}

.Menu {
  position: relative;
  margin: 35px;
  height: 100%;
  background: rgba(196, 196, 196, 0.67);
}

.Menu__description {
  font-size: 9px;
  margin-bottom: 5px;
}
.Menu__foodName {
  margin: 0;
}
.Menu__dishes {
  border-top: 1px solid white;
  padding: 10px 0px 0px 0px;
  margin: 10px 15px;
}
.Menu__img {
  position: absolute;
  transform: translate(-60%, -60%);

  left: 100%;
  // right: 100px;
  top: 100%;
  // bottom: 64.67%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

.Background-img {
  background-image: url('https://i.imgur.com/n7NvGlz.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.Background-img--cooks {
  background-image: url('https://i.imgur.com/PJWfJRz.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.Tables__img {
  background-image: url('https://i.imgur.com/qd79Nou.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.Dishes__img {
  background-image: url('https://i.imgur.com/cBkvasU.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.History__img {
  background-image: url('https://i.imgur.com/nKZ0OFH.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}

.Login {
  background-image: url('https://i.imgur.com/QX4PSdJ.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.Dish-details {
  background-image: url('https://i.imgur.com/FrnENBN.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 20px;
}

.input {
  background-color: rgba($color: #000000, $alpha: 0.4);
  border-radius: 20px;
}

.Table__darkRow {
  background-color: $dark;
  color: white;
}

.Table__grayRow {
  background-color: gray;
  color: darkred;
}

.Tables2 {
  display: flex;
  justify-content: center;
}
.background-plan {
  // background-image: url('https://i.imgur.com/umXG8ST.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // max-height: 100vw;
  // max-width: 100vh;
  // max-height: calc(100vh);
  // max-width: calc(414 / 657 * 100vh);

  position: relative;
  // border: 2px solid red;
}
.background-plan__img {
  max-height: 100vh;
  max-width: 100vw;
}

.tables {
  position: absolute;
  top: 0;
  left: 0;
  height: 6%;
  width: calc(6% * 657 / 414);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transform: translate(-50%, -50%);
  // color: white;
  // background-color: rgba(255, 0, 0, 0.5);
}
.table-1 {
  top: 22.5%;
  left: 15%;
}
.table-2 {
  top: 31.5%;
  left: 23%;
}
.table-3 {
  top: 18%;
  left: 26%;
}
.table-4 {
  top: 27.5%;
  left: 34%;
}
.table-5 {
  top: 14%;
  left: 37%;
}
.table-6 {
  top: 23%;
  left: 46%;
}
.table-7 {
  top: 9.5%;
  left: 48.5%;
}
.table-8 {
  top: 19%;
  left: 57.5%;
}
.table-9 {
  top: 5.5%;
  left: 59.5%;
}
.table-10 {
  top: 15%;
  left: 67.5%;
}
.table-11 {
  top: 74%;
  left: 68%;
}
.table-12 {
  top: 78%;
  left: 30%;
}
.table-13 {
  top: 64.5%;
  left: 16.5%;
}
.table-14 {
  top: 53.5%;
  left: 53%;
}
.table-15 {
  top: 46.5%;
  left: 17.5%;
}
.table-16 {
  top: 44.5%;
  left: 31.5%;
}
.table-17 {
  top: 37.5%;
  left: 33.5%;
}
.table-18 {
  top: 36.5%;
  left: 55.5%;
}
.table-19 {
  top: 30%;
  left: 67%;
}
.table-20 {
  top: 23%;
  left: 77%;
}

.table__waitingTime {
  color: red;
}
